<h1>!Bienvenid@ {{name}} a la plataforma de Gestión Humana!</h1>
  <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQEoZfj8AREBtg/company-background_10000/0/1599515545061?e=2159024400&v=beta&t=6gIsBqMWDjMrz8VMLFF31LxZ_PogpWIrRaWijuIMPX0" class="img-fluid" alt="Responsive image">
<p></p>
<p>Aqui encontrarás información referente a:</p>
<div class="contenido">
  <ul>
    <li><a><a routerLink ="/organigrama">Direccionamiento estratégico</a>, donde se representa la jerarquia del personal de la empresa a través de un organigrama</a></li>
    <li><a><a routerLink ="/seleccion_contratacion">Selección y contratación</a></a></li>
    <li><a><a routerLink ="/gestion_usuarios">Gestión de usuarios</a>, que permite la gestión documental de cada colaborador</a></li>
    <li><a><a routerLink ="/buscador_talentos">Buscador de talentos</a> internos</a></li>
    <li><a><a routerLink ="/capacitaciones">Capacitaciones</a> para el personal interno</a></li>
    <li><a><a routerLink ="/notificaciones">Notificaciones</a></a></li>
  </ul>
</div>



