<h1>Bienvenidos a la plataforma de Gestión Humana!</h1>
<p>Aqui encontraremos información referente a:</p>
<ul>
  <li><a>Direccionamiento estratégico, donde se representa la jerarquia del personal de la empresa a través de un organigrama</a></li>
  <li><a>Selección y contratación</a></li>
  <li><a>Gestión de usuarios, que permite la gestión documental de cada colaborador</a></li>
  <li><a>Buscador de talentos internos</a></li>
  <li><a>Capacitaciones para el personal interno</a></li>
  <li><a>Notificaciones</a></li>
</ul>


